<!-- App JavaScript (bootstrap, jquery, custom) -->
{% load static %}
<script type='text/javascript' src="{% static 'autobook/js/app.js' %}"></script>
<script type="text/javascript" src="{% static 'autobook/js/theme.js'%}"></script>
<script type="text/javascript" src="{% static 'autobook/js/common.js'%}"></script>
<script type="text/javascript" src="{% static 'autobook/js/bootstrap-datetimepicker.js'%}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>