
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    Book Cheap Flights, Air Tickets, Hotels, Bus &amp; Holiday Packages at Goibibo
    </title>
    <meta name="msvalidate.01" content="1BD605E8AC3AF213BFF87DB83536D37D"/>
    <meta name="description" content="Book cheap air tickets, flights, hotels, bus tickets &amp; holiday packages with Goibibo at lowest prices. Get best hotel deals, packages &amp; book flights at lowest airfares"/>
    <meta name="keywords" content="cheap air tickets, flight booking, hotel booking, holiday packages, bus ticket booking at Goibibo"/>
    <meta name="google-site-verification" content="f97lcQVMtD0CJ0smdcgBmjm-t67mITd2oGS4CnPlQSk"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta http-equiv="content-language" content="en"/>
    <meta name="alexaVerifyID" content="l3rQIge7B2N_G1cQl0VZP0y7-nE"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = no, maximum-scale = 1"/>

    <link rel="stylesheet" href="{% static 'autobook/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'autobook/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'autobook/css/common.css'%}">
    <script type="text/css" src="{% static 'autobook/css/bootstrap-datetimepicker.min.css'%}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}{% endblock %}
</head>